Brotli
certifi
charset-normalizer
colorama
contourpy==1.1.1
cycler
docutils==0.20.1
fonttools==4.49.0
idna
importlib_metadata==7.0.2
importlib_resources==6.3.0
jaraco.classes==3.3.1
keyring==24.3.1
kiwisolver
markdown-it-py==3.0.0
matplotlib==3.7.1
mdurl==0.1.2
more-itertools==10.2.0
nh3==0.2.15
numpy
packaging
pillow==10.2.0
pkginfo==1.10.0
platformdirs
ply==3.11
pooch
Pygments==2.17.2
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
pywin32-ctypes==0.2.2
readme_renderer==43.0
requests
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
scipy==1.10.1
sip
six
tomli
tornado
tqdm
twine==5.0.0
typing_extensions==4.10.0
urllib3
win-inet-pton
zipp==3.18.0
